/* DEVELOPER: Karolina Kowal, IS117-003, Fall 2023 */

/* styles for the Navbar */
.navbar-nav {
    margin-left: 62%;
}

.nav-link {
    color: #6c757d;
}

.nav-item {
    padding: 0 1em;
}

#static-item {
    color: darkslategrey;
    position: absolute;
    left: 1%;
    top: 18px;
    font-family: "Lucida Calligraphy", sans-serif;
}

.nav-item:focus, .nav-item:hover {
    background-color: deeppink;
}

/* styles for Brand */
.navbar-brand {
    background-color: #03045e;
}
.navbar-brand img {
    height: 80px;
    width: 80px;
}
span {
    margin-left: 2%;
    color: lightgrey;
}

/* styles for the Headings */
h2 {
    color: blue;
    position: relative;
    top: 0.3em;
    left: 20em;
    border-radius: 20px;
    border: 2px solid black;
    width: 300px;
    background-color: white;
}

.NASA-LSPACE h3 {
    position: relative;
    top: 1em;
    left: 22.8em;
}

.NASA-NCAS h3 {
    position: relative;
    top: 1em;
    left: 16.5em;
}

/* styles for the Body */
body {
    background-color: #edf2fb;
}
/* styles for the pictures */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.NASA-LSPACE img {
    position: relative;
    top: .8em;
}

.NASA-NCAS img {
    position: relative;
    top: 1.2em;
}

/* styles for the paragraphs */

.NASA-LSPACE p {
    position: relative;
    text-align: center;
    width: 50%;
    top: 1.5em;
    left: 25%;
}

.NASA-NCAS p {
    position: relative;
    text-align: center;
    width: 50%;
    top: 1.5em;
    left: 25%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

/* Media Queries */
@media only screen and (max-width: 707px) {
    #static-item {
        display: none;
    }
    h2 {
        position: relative;
        left: 4em;
    }
    .NASA-LSPACE h3 {
        position: relative;
        left: 5.4em;
    }
    .NASA-NCAS h3 {
        position: relative;
        left: 0.2em;
    }
    .NASA-LSPACE p {
        width: 75%;
        position: relative;
        left: 3.5em;
    }
    .NASA-NCAS p {
            width: 75%;
            position: relative;
            left: 3.5em;
    }
    .NASA-LSPACE img {
        width: 75%;
    }
    .NASA-NCAS img {
        width: 75%;
    }
}